---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
---

<Layout>
  <!-- Banner -->
  <section class="banner">
    <p class="grey-text1">CASE STUDIES</p>
    <h1 class="hero-title">
      <span>Taxes & Efficiency</span>
    </h1>
    <p class="under-text">
      Our achievements reflect the close collaboration between our expert teams
      and our esteemed clientele. We cultivate a workplace that champions peak
      performance and guarantees client satisfaction.
    </p>
  </section>
  <CaseStudyArticle />
</Layout>
